In [67]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/weather-dataset-rattle-package/weatherAUS.csv

In [68]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [69]:
df=pd.read_csv("/kaggle/input/weather-dataset-rattle-package/weatherAUS.csv")

In [70]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [72]:
categorical = [var for var in df.columns if df[var].dtype == 'O']
print (categorical)

['Date', 'Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday', 'RainTomorrow']

In [73]:
df.drop(['Evaporation','Sunshine','Cloud9am','Cloud3pm'],axis=1,inplace=True)

In [74]:
df.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [75]:
for col in df.columns:
    df[col] = df[col].fillna(method='ffill')

In [76]:
df['Date'] = pd.to_datetime(df['Date'])
df['year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['day'] = df['Date'].dt.day
df.drop(['Date'],axis=1,inplace=True)

In [77]:
df.head()

,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday,RainTomorrow,year,Month,day
0,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,24.0,...,22.0,1007.7,1007.1,16.9,21.8,No,No,2008,12,1
1,Albury,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,22.0,...,25.0,1010.6,1007.8,17.2,24.3,No,No,2008,12,2
2,Albury,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,26.0,...,30.0,1007.6,1008.7,21.0,23.2,No,No,2008,12,3
3,Albury,9.2,28.0,0.0,NE,24.0,SE,E,11.0,9.0,...,16.0,1017.6,1012.8,18.1,26.5,No,No,2008,12,4
4,Albury,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,20.0,...,33.0,1010.8,1006.0,17.8,29.7,No,No,2008,12,5

## EDA--

In [78]:
y = df['RainTomorrow']
x = df.drop(['RainTomorrow'],axis = 1)

In [79]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [80]:
x_train.shape, x_test.shape

((116368, 20), (29092, 20))

In [81]:
x_train['RainToday']

22926      No
80735      No
121764    Yes
139821     No
1867      Yes
         ...
41993      No
97639      No
95939      No
117952    Yes
43567      No
Name: RainToday, Length: 116368, dtype: object

In [82]:
y.unique()

array(['No', 'Yes'], dtype=object)

## categorical to numerical

In [83]:
# display numerical variables

numerical = [col for col in x_train.columns if x_train[col].dtypes != 'O']

numerical

['MinTemp',
 'MaxTemp',
 'Rainfall',
 'WindGustSpeed',
 'WindSpeed9am',
 'WindSpeed3pm',
 'Humidity9am',
 'Humidity3pm',
 'Pressure9am',
 'Pressure3pm',
 'Temp9am',
 'Temp3pm',
 'year',
 'Month',
 'day']

In [88]:
import category_encoders as ce
encoder = ce.BinaryEncoder(cols=['RainToday'],return_df = True)
x_train = encoder.fit_transform(x_train)
x_test = encoder.transform(x_test)

In [91]:
from sklearn import preprocessing
encoder = preprocessing.LabelEncoder()
x_train['Location'] = encoder.fit_transform(x_train['Location'])
x_test['Location'] = encoder.transform(x_test['Location'])
x_train['WindGustDir'] = encoder.fit_transform(x_train['WindGustDir'])
x_test['WindGustDir'] = encoder.transform(x_test['WindGustDir'])
x_train['WindDir9am'] = encoder.fit_transform(x_train['WindDir9am'])
x_test['WindDir9am'] = encoder.transform(x_test['WindDir9am'])
x_train['WindDir3pm'] = encoder.fit_transform(x_train['WindDir3pm'])
x_test['WindDir3pm'] = encoder.transform(x_test['WindDir3pm'])

x_train.head()

,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday_0,RainToday_1,year,Month,day
22926,27,18.8,23.7,0.2,2,52.0,2,2,31.0,28.0,...,73.0,1016.6,1013.9,21.4,22.2,0,1,2014,3,12
80735,44,9.3,24.0,0.2,4,48.0,6,5,13.0,24.0,...,55.0,1018.3,1014.6,14.3,23.2,0,1,2016,10,6
121764,31,10.9,22.2,1.4,12,26.0,4,12,0.0,11.0,...,47.0,1017.6,1014.9,16.6,21.5,1,0,2011,8,31
139821,13,19.3,29.9,0.0,2,43.0,2,0,26.0,17.0,...,37.0,1015.9,1012.1,23.2,29.1,0,1,2010,6,11
1867,2,15.7,17.6,12.4,0,20.0,2,0,11.0,13.0,...,100.0,1015.2,1010.5,16.5,17.3,1,0,2014,4,10

In [92]:
x_train.head()

,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday_0,RainToday_1,year,Month,day
22926,27,18.8,23.7,0.2,2,52.0,2,2,31.0,28.0,...,73.0,1016.6,1013.9,21.4,22.2,0,1,2014,3,12
80735,44,9.3,24.0,0.2,4,48.0,6,5,13.0,24.0,...,55.0,1018.3,1014.6,14.3,23.2,0,1,2016,10,6
121764,31,10.9,22.2,1.4,12,26.0,4,12,0.0,11.0,...,47.0,1017.6,1014.9,16.6,21.5,1,0,2011,8,31
139821,13,19.3,29.9,0.0,2,43.0,2,0,26.0,17.0,...,37.0,1015.9,1012.1,23.2,29.1,0,1,2010,6,11
1867,2,15.7,17.6,12.4,0,20.0,2,0,11.0,13.0,...,100.0,1015.2,1010.5,16.5,17.3,1,0,2014,4,10

In [93]:
x_test.head()

,Location,MinTemp,MaxTemp,Rainfall,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,WindSpeed9am,WindSpeed3pm,...,Humidity3pm,Pressure9am,Pressure3pm,Temp9am,Temp3pm,RainToday_0,RainToday_1,year,Month,day
138175,3,21.9,39.4,1.6,6,57.0,4,3,20.0,33.0,...,26.0,1008.5,1004.1,29.8,35.4,1,0,2014,12,3
38638,42,20.5,37.5,0.0,14,59.0,1,3,17.0,20.0,...,22.0,1012.9,1006.5,27.3,35.7,0,1,2015,1,8
124058,36,5.1,17.2,0.2,13,50.0,14,13,28.0,22.0,...,51.0,1028.6,1026.0,10.1,16.1,0,1,2009,8,16
99214,0,11.9,16.8,1.0,12,28.0,14,12,11.0,13.0,...,79.0,1018.5,1017.7,14.3,15.2,0,1,2016,8,31
25097,30,7.5,21.3,0.0,4,15.0,12,5,2.0,7.0,...,52.0,1015.1,1014.2,13.7,21.1,0,1,2011,8,28

## Feature scaling

In [94]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [95]:
from sklearn.linear_model import LogisticRegression


# instantiate the model
logreg = LogisticRegression(random_state=0)

# fit the model
logreg.fit(x_train, y_train)

/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=0)

In [96]:
y_pred_test = logreg.predict(x_test)

y_pred_test

array(['No', 'No', 'No', ..., 'Yes', 'No', 'No'], dtype=object)

In [97]:
# probability of getting output as 0 - no rain
logreg.predict_proba(x_test)[:,0]

array([0.80673512, 0.87039508, 0.91474278, ..., 0.43724843, 0.78306146,
       0.92940858])

In [98]:
from sklearn.metrics import accuracy_score
print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_pred_test)))

Model accuracy score: 0.8401